#s3-browser {
  height: 80vh;
  display: flex;
  flex-direction: column;

  h2 {
    font-size: 1.8rem;
  }

  .image-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    overflow-y: auto;
  }

  .entry {
    border: 1px solid;
    border-color: 1px solid var--(color-primary);
    border-radius: 0.5rem;
    width: 30%;
    cursor: pointer;
    aspect-ratio: 1;

    img,
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    img:hover,
    video:hover {
      opacity: 0.1;
    }
  }
}